#
# Copyright (c) 2026 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

# ubx patch start: drop WPA3_IMPLEMENTATION choice, members undefined in v3.3.0, unused on nRF54L
# ubx patch end
